<h2>Paramètres du compte</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


  <%= f.email_field :email, :autofocus => true,class: "input-large", placeholder: "Email" %><br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Attente de confirmation pour :  <%= resource.unconfirmed_email %></div>
  <% end %>
  <%= f.password_field :password, :autocomplete => "off",class: "input-large", placeholder: "Nouveau mot de passe" %><br />
  <%= f.password_field :password_confirmation,class: "input-large", placeholder: "Confirmation du nouveau mot de passe"%><br />
  <%= f.password_field :current_password,class: "input-large", placeholder:"Mot de passe actuel" %><br />
 <%= f.submit "Mettre à jour", class: "btn"%><br />
<% end %>

  <h3>Supprimer mon compte</h3>

<p>Non satistait? <%= button_to "Supprimer mon compte", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn" %></p>

<%= link_to "Retour à la page précédente", :back %>
