<%= form_for(@cocktail) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>


	<div class="field">
	      <%= f.text_field :name, placeholder: "Nom du cocktail..." %>
	</div>


	<div class="field">
	  <%= f.label :ingredient_tokens, "Ingredients" %>
	  <%= f.text_field :ingredient_tokens, data: {load: @cocktail.ingredients} %>
	</div><br />

	<div class="field">
		 <%= f.text_area :description, placeholder: "Décrivez votre cocktail..."%>
	</div>

      <%= f.submit "Ajouter ce cocktail", class: "btn btn-large btn-primary" %>
<% end %>