<% provide(:title, 'Cocktails') %>

<%= form_tag cocktails_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil, class: "btn btn-large btn-primary"%>
  </p>
<% end %>

	<h1>Tous les cocktails</h1>

	  <% @cocktails.each do |cocktail|  %>
 	 	<h3><%= link_to cocktail.name, cocktail %></h3>
 	 		<%cocktail.ingredients.each do |ingredient| %>
 	 		<h3><%= ingredient.name %></h3>
 	 	<%end %><br />	
  	  <%end %>


  <%= link_to "Ajouter un nouveau coktail", new_cocktail_path,
                           class: "btn btn-large btn-primary" %>