<% provide(:title, 'Cocktail') %>
<h1>Cocktail</h1>

<p>
  <b>Nom :</b>
  <%= @cocktail.name %>
   <br />
    <b>Description :</b>
 <%= simple_format(@cocktail.description) %>
  <br /> <br />

 	<b>Ingrédients :</b>
  <% @cocktail.ingredients.each do |ingredients| %>
    <li><%= ingredients.name %>
          <% ingredients.quantities.each do |quantities| %>  
              <%= quantities.dose if quantities.cocktail_id == @cocktail.id%>
          <% end %>
    </li>
  <% end %>
</p>

  <%= link_to "Ajouter un nouveau coktail", new_cocktail_path,
                           class: "btn btn-large btn-primary" %>